.page {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 100px;
}

.title {
  font-size: 40px;
  font-weight: 700;
  line-height: normal;
  color: var(--accent);
  margin: 0;
}
