.container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.emptyModelsText {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-grow: 1;
  padding: 0 15px;
  text-align: center;
  font-size: 16px;
  color: var(--primary);
  font-weight: 400;
  margin: 0;
}
.table {
  box-sizing: border-box;
  border-collapse: collapse;
  vertical-align: middle;
  min-width: 270px;
  width: 100%;
}
.contentBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.scroll {
  padding: 0 15px 30px 15px;
  box-sizing: border-box;
  width: 100%;
}
.selected {
  color: var(--accent);
}
.tip {
  font-size: 12px;
  font-weight: 400;
  color: var(--primary);
  margin: 10px 0;
}
.button {
  width: 255px;
  height: 30px;
  font-weight: 400;
  font-size: 16px;
  color: var(--background);
}

.sliderContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}
.stepValue {
  font-size: 16px;
  font-weight: 400;
  width: 20px;
  color: var(--primary);
  padding: 0 0 0 10px;
}
.text {
  display: flex;
  font-size: 16px;
  font-weight: 400;
  color: var(--primary);
  margin: 0 0 10px;
  justify-content: start;
  width: 100%;
}
.title {
  display: flex;
  justify-content: center;
  font-size: 16px;
  font-weight: 400;
  color: var(--primary);
  width: 100%;
  margin-top: 25px;
  margin-bottom: 20px;
}
.btnContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}
.tip {
  font-size: 12px;
  font-weight: 400;
  color: var(--primary);
  margin: 0;
  padding-left: 15px;
  padding-bottom: 15px;
}
.slider {
  flex-grow: 1;
  height: 5px;
}
.itemBox {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 10px;
  border: var(--secondary) solid 1px;
  min-width: 260px;
}
.itemBox .item:not(:last-child) {
  margin-bottom: 15px;
}
.item {
  font-size: 16px;
  font-weight: 400;
  color: var(--primary);
  margin: 0;
}
.grid {
  font-size: 12px;
  font-weight: 400;
  color: var(--primary);
  width: 70px;
  margin: 0;
  text-align: end;
}
.history .itemBox:not(:last-child) {
  margin-bottom: 10px;
}
.flex {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
