.container {
  display: flex;
  flex-direction: column;
  background: var(--background);
  flex: 1 1 40%;
  box-sizing: border-box;
  overflow: hidden;
}
.imagBox {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  min-width: 330px;
  padding-left: 30px;
  padding-right: 15px;
  justify-content: center;
}
.area_eq {
  display: flex;
  background-image: url('/src/assets/images/area_eq.png');
  background-repeat: no-repeat;
  width: 306px;
  height: 332px;
}
.image {
  padding-bottom: 15px;
}
.contentAreaEq {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cancel {
  width: 27px;
  height: 27px;
  padding: 0;
}
.done {
  height: 20px;
  width: 22px;
  padding: 0;
}
.textContainer {
  display: flex;
  flex-direction: column;
  flex: 1 1;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}
.test {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
