.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.text {
  font-size: 16px;
  font-weight: 400;
  color: var(--primary);
  margin: 0;
}
.tip {
  padding: 15px;
}

.noBorder {
  border: 0;
}

.parametersContainer {
  padding: 15px;
  min-width: 260px;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.parametersContainer .row:first-child {
  margin-bottom: 10px;
}
.name {
  flex-grow: 1;
}
.value {
  max-width: 30%;
  width: 30%;
  min-width: 80px;
  margin-left: 10px;
}
.button {
  width: 270px;
  height: 30px;
}
.btnContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 20px;
  min-width: 250px;
}
.btnContainer .button:first-child {
  margin-bottom: 10px;
}
.scroll {
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 30px;
}
