.container {
  display: flex;
  flex-direction: column;
  background: var(--background);
  flex: auto;
  overflow: hidden;
}
.tablet {
  display: flex;
  flex-direction: column;
  flex: auto;
  overflow: hidden;
}

.curvesList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.listItem {
  background-color: #f2f2f2;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button {
  margin-left: 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
}

.button:hover {
  background-color: #45a049;
}

.deleteButton {
  background-color: #f44336;
}

.deleteButton:hover {
  background-color: #d32f2f;
}
.height {
  height: 100%;
}
